{% load static %}
<!-- FOOTER -->
<footer class="">
    <div class="row container-fluid mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="">
            <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, accusamus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, nam!</p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Featured</h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href="">Materials</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">New Arrivals</a></li>
            </ul>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2">Contact Us</h5>
            <div>
                <h6 class="text-uppercase">Address</h6>
                <p>123 STREET NAME, CITY, US</p>
            </div>
            <div>
                <h6 class="text-uppercase">Phone</h6>
                <p>(123) 456-789</p>
            </div>
            <div>
                <h6 class="text-uppercase">Email</h6>
                <p>MAIL@EXAMPLE.COM</p>
            </div>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2">Images</h5>
            <div class="row">
                <img class="img-fluid w-25 h-100 m-2" src="/static/img/logo.png" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="/static/img/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="copyright mt-5">
        <div class="row container-fluid mx-auto">
            <div class="col-lg-3 col-md-6 col-12 mb-4">
                <!-- <img class="img" src="#" alt="" style="width: 60%;"> -->
            </div>
            <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
                <p>your company @ 2021. All Rights Reserved</p>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-5">
                <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://linkedin.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            </div>

        </div>
    </div>
</footer>