{% extends 'adminbase.html' %}
{% load static %}
{% block title %} Products {% endblock %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="container-fluid px-0">
            <img class="img-fluid" src="{% static '/img/test1.jpg' %}" alt="Customer">
        </div>
        <h1 class="py-4" style="background-color: gray; color: #fff; text-align:center;">
            PRODUCTS
            <a href="{% url 'admin-add-product' %}">
                <i class="fa fa-plus my-float btn btn-danger py-3"></i>
            </a>
        </h1>

        <table class="table table-hover my-0 py-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Price</th>
                    
                    <th>Availability</th>
                    
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}

                <tr>
                    <td> {{p.name}}</td>
                    <td> <img src="{{ p.product_image.url }}" height="40px" width="40px" /></td>
                    <td>{{p.category}}</td>
                    <td>{{p.price}}</td>
                    
                    <td>{{p.available}}</td>
                    
                    <td><a class="btn btn-primary btn-xs" href="{% url 'update-product' p.id  %}"><span
                                class="glyphicon glyphicon-edit">UPDATE</span></a></td>
                    <td><a class="btn btn-danger btn-xs" href="{% url 'delete-product' p.id %}" onclick="return confirm('Are you sure you want to delete this product?');"><span
                                class="glyphicon glyphicon-trash">DELETE</span></a></td>


                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <!-- PAGINATION STARTS -->
    <nav aria-label="..." class="container pt-5">
        {% if products.has_other_pages %}
        <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}"><i
                        class="fas fa-angle-left"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            {% endif %}

            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}"><i class="fas fa-angle-right"></i></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <!-- PAGINATION ENDS -->
</div>
{% endblock content %}